/* nuevas modificaciones en nosotros */

.Nosotros-texto-h3 {
    text-align: center;
    font-size: 40px;
    color: #2B50AA;
}

.titulo-habana2 {
    color: #000;
}

.boody1 {
    background-color: #272727;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: bold;
    padding: 0 1.5em;
    color: #ff9fe5;
}

/* nuevas modificaciones en nosotros */